extends layout

block content
  div 
    select
      for val in dbevents
        option=val.event + " " + val.year
  div
    table.table.center(align="center")
      tr
        th='Game'
        th='Platform'
        th='Event'
        th='Year'
      each val in dbdata
        tr
          td=val.Game
          td=val.Platform
          td=val.Event
          td=val.Year